@model PqnASPLesson9.Models.pqnKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pqnKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PqnTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PqnTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PqnTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PqnTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Pqn:Edit", "PqnEdit", new { id = Model.PqnMaKH }) |
    @Html.ActionLink("Back to List", "PqnIndex")
</p>
